
html
	head
		title A Simple Node, Jade Driven Site!
		link(rel = 'stylesheet',type="text/css", href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel = 'stylesheet',type="text/css", href = 'https://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		script(type='text/javascript').
				$(document).ready(function(){
					$(function() {
						var tweets = !{JSON.stringify(tweets)};
						console.log("subscription : ", tweets[0] );

						var ul = $('#posts');
						ul.empty();
						for(var i = 0, l = (tweets.length < 10) ? tweets.length : 10; i < l; i++)
						{
						    var li = $('<li/>')
						        .addClass('fixtureli')
						        .appendTo(ul);
						    var aa = $('<a/>')
						        .text(i + 1 + ': ' + tweets[i].text)
						        .appendTo(li);
						};
						$("body").on('click', 'a.page', function(event){
							var text = $(this).text();
							var len = (parseInt(text) - 1 ) * 10;
							console.log(text);
							var ul = $('#posts');
							ul.empty();
							for(var i = len, l = (tweets.length < len + 10) ? tweets.length : (len + 10); i < l; i++)
							{
							    var li = $('<li/>')
							        .addClass('fixtureli')
							        .appendTo(ul);
							    var aa = $('<a/>')
							        .text(i + 1 + ': ' + tweets[i].text)
							        .appendTo(li);
							};
						});
					});
				});
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") OfflineSearch
				div.collapse.navbar-collapse#myNavbar
					ul.nav.navbar-nav
						li.active
							a(href = "/") Home
					ul.nav.navbar-nav
						li &nbsp;
					ul.nav.navbar-nav
						li.active
							a(href = "/welcome") Go Back
					ul.nav.navbar-nav.navbar-right
						li
							a(href = "/signin")
								span.glyphicon.glyphicon-log-in  Sign Out
	header.container
		div.panel.panel-info(style = "margin-top : 10px;")
			div.panel-heading Welcome to #{name}'s posts!
			div.panel-body
				if tweets.length > 0
					div
						ul.list-group.nav.nav-pills.nav-stacked(id="posts")
						div
							ul.pagination
								- for (var i = 0, l = (tweets.length % 10 == 0 && tweets.length >=10)? tweets.length/10 : (tweets.length/10 + 1); i < parseInt(l); i++) {
									li
										a.page(href="#") #{i+1}
								- }
				else
					h1 #{name} does not have any tweets as of now!
	footer.container
		p Running on node with Express, Jade and Stylus!
script.
	console.log(!{JSON.stringify(tweets)});
	

