
html
	head
		title A Simple Node, Jade Driven Site!
		link(rel = 'stylesheet',type="text/css", href = 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		script(src="libs/jquery.min.js")
		link(rel="stylesheet" href="libs/jquery-ui.css")
		script(src="libs/jquery-1.10.2.js")
		script(src="libs/jquery-ui.js")
		script(src='libs/bootstrap.min.js')
		script(type='text/javascript').
				$(document).ready(function(){
					$(function() {
						 //$('#interval').hide();
						 $( "#searchName" ).autocomplete({
								focus: function( event, ui ) {
										var x = $( "#searchName" ).val( ui.item.value);
										console.log(x['0'].value);
										return false;
								},
								select:function(event,ui){
										console.log(ui.item.value);
										window.location.href = '/twitter?name='+ui.item.value;
								},
								source:function(request, response){
									$.ajax({
									url : "/welcome",
									async: false,
									type: "POST",
									data : {value: request.term, todo : "searchName"},
									success : function(responseText) {
										response(responseText.data);
									}
								});
							}
						});
						$("#overs li").click(function(event){
							var text = $(this).text();
							console.log(text);
							$('#selected').text(text);
						});
						$("#subscribe").click(function(event){
							var text = $('#selected').text();
							console.log(text);
							if(text.toString() == 'Select Overs'){
								alert("You have not selected over interval, default is 1 over!");
								text = "1";
							}
							text = text.replace( /^\D+/g, '');

							var matchURL = $('#nextMatch #0').children().attr('title');
							var matchTime = $('#nextMatch #0').children().text();
							var matchName = matchTime.substring(0, matchTime.indexOf(' at'))
							//else{								
								$.ajax({
									url : "/welcome",
									async: false,
									type: "POST",
									data : {matchName : matchName, matchURL : matchURL, value: text, todo : "cricSub"},
									success : function(responseText) {
										alert(responseText.result);
									}
								});
							//}
						});

					}); 
				});
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") OfflineSearch
				div.collapse.navbar-collapse#myNavbar
					ul.nav.navbar-nav
						li.active
							a(href = "/") Home
					ul.nav.navbar-nav
						li &nbsp;
					ul.nav.navbar-nav
						li.active
							a(href = "/signin") Go Back
					ul.nav.navbar-nav.navbar-right
						li
							a(href = "/signup")
								span.glyphicon.glyphicon-user  Sign Up
						li
							a(href = "/signin")
								span.glyphicon.glyphicon-log-in  Sign In
	header.container
		div.jumbotron
			if data.userType === 'new'
				h2 Welcome #{data.user.name}!
				label I am Ashok Regar. You are going to have a great time with our service.
				p Thankyou for Signing up!
			else
				h2 Welcome Back #{data.user.name}!
				label I am Ashok Regar. Hope you are enjoying our service.
				p Thankyou for visiting again!

		div.row
			div.col-sm-12(style="float: right;")
				button.btn.btn-default.btn-primary(onclick="configure()", id = "configure") Configure your UPDATES!
		div.row
			div.col-sm-12(style="float: right; margin-top : 10px;")
				if overInterval
					button#subscribe.btn.btn-default.btn-success Subscribe for next match
				else
					button#subscribe.btn.btn-default.btn-primary Subscribe for next match
				div#overs.btn-group
					if overInterval
						button#selected.btn.btn-success.dropdown-toggle(type = 'button' data-toggle="dropdown") One sms in #{overInterval}
							span.caret
					else						
						button#selected.btn.btn-primary.dropdown-toggle(type = 'button' data-toggle="dropdown") Select Overs
							span.caret
					ul.dropdown-menu(role="menu")
						li#0 
							a Select Overs
						- for (var x = 1; x < 11; x++)
							li#x 
								a One sms in #{x}
				label &nbsp;Scores will be sent over this interval!
		div.row
			div.col-sm-12(style="float: right; margin-top : 10px;")
				button.btn.btn-info.dropdown-toggle(type = 'button' data-toggle="dropdown") List of coming Matches 
					span.caret
				ul#nextMatch.dropdown-menu(role="menu")
					- for (var y = 0; y < adminData.matchesDetails.matches.length; y++)
						li(id = y) 
							a(title = adminData.matchesDetails.urls[y]) #{adminData.matchesDetails.matches[y] + " at " + adminData.matchesDetails.dates[y]}   


			div(style= "margin-top : 100px; ")
				form.form-horizontal
					label.control-label.col-sm-3 Search for a friend's posts here OR use their twiiter name!:
					div.col-sm-5
						input.form-control.btn-info(type="text", id="searchName", placeholder="name", name = "name")
						if data.twitterFriend != ''
							h3 No twitter user by #{data.twitterFriend}'s name! sorry! 


	footer.container(style="margin-top : 100px;")

script.
	console.log(!{JSON.stringify(adminData.matchesDetails)})
script.
	function signout() {
		window.location.href = '/'
	}
script.
	function configure() {
		window.location.href = '/configure'
	}
