
html
	head
		title A Simple Node, Jade Driven Site!
		link(rel = 'stylesheet',type="text/css", href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel = 'stylesheet',type="text/css", href = 'https://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		script(type='text/javascript').
				console.log("getting cricket data");
				$.ajax({
					url : "/cricData",
					async: true,
					type: "GET",
					data : { todo : "CRICDATA"},
					success : function(responseText) {
						//console.log(responseText);
						var series = $('#seriesUl')
						$.each(responseText, function(i)
						{
						    var li = $('<li/>')
						        .addClass('seriesli')
						        .appendTo(series);
						    var aa = $('<a/>')
						        .text(responseText[i].name)
						        .appendTo(li);
						});
					}
				});
		script(type='text/javascript').
				$(document).ready(function(){
					$(function() {
						 //$('#interval').hide();
						 $( "#searchName" ).autocomplete({
								focus: function( event, ui ) {
										var x = $( "#searchName" ).val( ui.item.value);
										console.log(x['0'].value);
										return false;
								},
								select:function(event,ui){
										console.log(ui.item.value);
										window.location.href = '/twitter?name='+ui.item.value;
								},
								source:function(request, response){
									$.ajax({
									url : "/welcome",
									async: false,
									type: "POST",
									data : {value: request.term, todo : "searchName"},
									success : function(responseText) {
										response(responseText.data);
									}
								});
							}
						});
						$("body").on('click', 'li.overli', function(event){
							var text = $(this).text()+ ' overs will be sent.';
							console.log(text);
							var div = $('#overDiv');
							var btnCreated = $('.overSelected'); 
							if(btnCreated.length === 0){
							    var button = $('<button/>')
							        .addClass('overSelected btn btn-default')
							        .text(text)
							        .appendTo(div);
						    }else{
							    $('#subButton').text('Update Subscription');
						    	$('.overSelected').text(text);
						    }
						});
						$("#subscribe").click(function(event){
							var data = {};
							console.log($(this).text());
							if($(this).text() === 'Subscribe' || $(this).text() === 'Update Subscription'){
								var valiated = true;
								var match = $('.fixtureSelected').text();
								if(match === ''){
									alert('Please provide match details!');
									return;
								}
								var over = $('.overSelected').text();
								if(over.toString().replace(/ /g, "") === ''){
									alert("Please choose a over");
									//over = "1";
									return;
								}
								over = over.replace( /^\D+/g, '');
	
								var series = $('.seriesSelected').text();
								var url = $('.fixtureSelected').attr('name');
								var time = $('.fixtureSelected').attr('title');
								console.log(series, match, url, time, over);
								data = {series : series, matchName : match, matchURL : url, time : time, value: parseInt(over), todo : "CRICSUB"};
							}else{
								data = {todo : 'UNSUBCRIC'};
							}
							$.ajax({
								url : "/welcome",
								async: false,
								type: "POST",
								data : data,
								success : function(response) {
									alert("Your are " + response.result);
									if(response.subStatus){
										$('#subscribe button').removeClass('btn-default').addClass('btn-success').text('Unsubscribe');
									}else{
										$('#subscribe button').removeClass('btn-success').addClass('btn-default').text('Subscribe');
										$('.seriesSelected').remove();
										$('.fixtureSelected').remove();
										$('.fixtureUl').remove();
										$('.overSelected').remove();
										$('body li').each(function(index,li) {
										    $(this).removeClass('disabled');
										});							
									}
								}
							});
						});
						$("body").on('click', 'li', function(event){
							console.log(this);
							var text = $(this).text();
							$(this).parent().children().each(function(index,li) {
								if(text === li.textContent){
								    $(this).addClass('disabled');
								}else{
								    $(this).removeClass('disabled');
								}
							});							
							
						});
						
						$("body").on('click', 'li.seriesli', function(event){
							var text = $(this).text();
							console.log(text);
							var div = $('#seriesDiv');
							var btnCreated = $('.seriesSelected'); 
							if(btnCreated.length === 0){
							    var button = $('<button/>')
							        .addClass('seriesSelected btn btn-default')
							        .text(text)
							        .appendTo(div);
						    }else{
							    $('#subButton').text('Update Subscription');
						    	$('.seriesSelected').text(text);
						    	$('.fixtureSelected').remove();
						    	$('.overSelected').remove();
						    }
							$.ajax({
								url : "/cricData",
								async: false,
								type: "GET",
								data : {series : text.toString(), todo : "GETFIXTURE"},
								success : function(responseText) {
									console.log(responseText);
									var div = $('#fixtureDiv')
									
									var ul = $('.fixtureUl');
									ul.empty();
									if(ul.length == 0){
										ul = $('<ul/>')
										.addClass('fixtureUl dropdown-menu')
										.css({"margin-left" : "15px"})
										.attr('role', 'menu')
										.appendTo(div);
									}
									if(responseText.length == 0){
									    var li = $('<li/>')
									        .addClass('fixtureli')
									        .appendTo(ul);
									    var aa = $('<a/>')
									        .text("No more matches!")
									        .appendTo(li);
									}
									else
									{
										$.each(responseText, function(i)
										{
											if(i > 10){
												return;
											}
										    var li = $('<li/>')
										        .addClass('fixtureli')
										        .appendTo(ul);
										    var aa = $('<a/>')
										    	.attr('name', responseText[i].url)
										    	.attr('title', responseText[i].time)
										        .text(responseText[i].name)
										        .appendTo(li);
										});
									}
								}
							});
						});
						$("body").on('click', 'li.fixtureli', function(event){
							var ele = $(this);
							console.log(ele.find('a'));
							var div = $('#fixtureDiv');
							var btnCreated = $('.fixtureSelected'); 
							if(btnCreated.length === 0){
							    var button = $('<button/>')
							        .addClass('fixtureSelected btn btn-default')
							        .attr('name', ele.find('a').attr('name'))
							        .attr('title', ele.find('a').attr('title'))
							        .text(ele.text())
							        .appendTo(div);
						    }else{
							    $('#subButton').text('Update Subscription');
						    	$('.fixtureSelected')
							        .attr('name', ele.find('a').attr('name'))
							        .attr('title', ele.find('a').attr('title'))
							        .text(ele.text());
						    }
						});
						$("#fixtureButton").click(function(event){
							var text = $('.seriesSelected').text();
							console.log(text);
							if(text.toString() === ''){
								alert("You have not selected any series, please select one!");
							}
						});
						$("#overButton").click(function(event){
							var text = $('.fixtureSelected').text();
							console.log(text);
							if(text.toString() === ''){
								$('.overUl').remove();
								alert("You have not selected any fixture, please select one!");
								return;
							}else{
								var div = $('#overDiv')
								
								var ul = $('.overUl');
								ul.empty();
								if(ul.length == 0){
									ul = $('<ul/>')
									.addClass('dropdown-menu')
									.addClass('overUl')
									.attr('role', 'menu')
									.appendTo(div);
								}
								for (var x = 1; x < 11; x++){
									var li = $('<li/>')
										.addClass('overli')
										.attr('id', x)
										.appendTo(ul);
									var aa = $('<a/>')
										.attr('id', x)
										.text('One sms in '+ x)
										.appendTo(li);
								}
							}
						});

					}); 
				});
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") OfflineSearch
				div.collapse.navbar-collapse#myNavbar
					ul.nav.navbar-nav
						li.active
							a(href = "/") Home
					ul.nav.navbar-nav
						li &nbsp;
					ul.nav.navbar-nav
						li.active
							a(href = "/signin") Go Back
					ul.nav.navbar-nav.navbar-right
						li
							a(href = "/signin")
								span.glyphicon.glyphicon-log-in  Sign Out
	header.container
		div
			if data.userType === 'new'
				h2 Welcome #{data.user.name}!
				label I am Ashok Regar. You are going to have a great time with our service.
				p Thankyou for Signing up!
			else
				h2 Welcome Back #{data.user.name}!
				label I am Ashok Regar. Hope you are enjoying our service.
				p Thankyou for visiting again!

		div.panel.panel-info(style = "margin-top : 10px;")
			div.panel-heading Configure your news updates!
			div.panel-body
				div.row(style = "margin-top : 10px;")
					div.col-sm-12
						button.btn.btn-default.btn-primary(onclick="configure()", id = "configure", style="width : 200px") Configure your UPDATES!
		div.panel.panel-info(style = "margin-top : 10px;")
			div.panel-heading Subscribe for the ongoing cricket series!
			div.panel-body
				div.row(style = "margin-top : 10px;")
					div#seriesDiv.col-md-12
						button#seriesButton.btn.btn-info.dropdown-toggle(type = 'button' data-toggle="dropdown", style="width : 200px") Series
							span.caret(style = "float : right")
						ul#seriesUl.dropdown-menu(role="menu",style="margin-left: 15px;")
						if(subscription.length > 0)
							button.seriesSelected.btn.btn-default.dropdown-toggle(type = 'button' data-toggle="dropdown") #{subscription[0].seriesName}
				div.row(style = "margin-top : 10px;")
					div#fixtureDiv.col-sm-12
						button#fixtureButton.btn.btn-info.dropdown-toggle(type = 'button' data-toggle="dropdown", style="width : 200px") Fixtures
							span.caret(style = "float : right")
						if(subscription.length > 0)
							button.fixtureSelected.btn.btn-default.dropdown-toggle(type = 'button' data-toggle="dropdown", name = subscription[0].url, title = subscription[0].time) #{subscription[0].name}
				div.row(style="margin-top : 10px;")
					div.col-sm-12
						div#overDiv.btn-group
							button#overButton.btn.btn-info.dropdown-toggle(type = 'button' data-toggle="dropdown", style="width : 200px") Select Overs
								span.caret(style = "float : right")
						if(subscription.length > 0)
							button.overSelected.btn.btn-default.dropdown-toggle(type = 'button' data-toggle="dropdown") One sms in #{subscription[0].over} overs will be sent.
				div.row(style= "margin-top : 10px;")
					div.col-sm-12
						div#subscribe.btn-group
							if subscription.length > 0
								button#subButton.btn.btn-success(style="width : 200px") Unsubscribe
							else
								button#subButton.btn.btn-default(style="width : 200px") Subscribe
		div.panel.panel-info(style = "margin-top : 10px;")
			div.panel-heading Search for a registered friend's posts here!
			div.panel-body
				div(style= "margin-top : 10px;")
					form.form-horizontal
						input.form-control.btn-default(type="text", id="searchName", placeholder="name", name = "name", style="width : 200px")
						if data.twitterFriend != ''
							h3 No twitter user by #{data.twitterFriend}'s name! sorry! 


	footer.container(style="margin-top : 100px;")

script.
	console.log(!{JSON.stringify(subscription)})
script.
	function signout() {
		window.location.href = '/'
	}
script.
	function configure() {
		window.location.href = '/configure'
	}
